@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: background-color 0.2s ease-in-out;
}
:root {
  --main-dark: #1b1b1b;
  --second-dark: #29323e;
  --third-dark: #b3afb0;
  --fourth-dark: #3e3a39;
  --main-light: #ededed;
  --second-light: #728393;

  font-family: "Poppins", sans-serif;
}
